body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bundle-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
    height: 45px;
    overflow: hidden;
}

.bundle-box.active {
    height: 180px;
    border: 1px solid  #218838;
}
.bundle-box:hover{
    border: 1px solid  #218838;
}

.hidden-wrapper {
    height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.bundle-box.active .hidden-wrapper {
    height: auto;
}


.container {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.bundle-title {
    font-size: 16px;
    font-weight:500;
    margin: 3px;

}

.price {
    font-size: 16px;
    color: #333;
    margin: 3px;
    font-weight: 600;
}

.discount {
    font-size: 14px;
    color: #007BFF;
    font-weight: bold;
}

.size-color-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.size-color-wrapper select {
    width: 48%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-to-cart-btn {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.add-to-cart-btn:hover {
    background-color: #218838;
}



.bundle-title-price {
    display: flex;
    justify-content: space-between;
    align-items:start;
    
}

.styled-dropdown {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.styled-dropdown:focus {
    border-color: #66afe9;
    outline: none;
    background-color: #fff;
}



.title-size-color {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-container .bottom-text {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}

.bold {
    font-weight: 600;
}

.add-to-cart-btn::before {
    content: '\1F6D2'; 
    margin-right: 10px;
}